
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/dist/css/bootstrap.css';
body {
  font-family: "Open Sans", serif;
  /* background-color: #5ca5f8 !important; */
  background-image: url('img/blue_sky.jpg');
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

/* Header */
.app_header{
  width: 100vw;
  height: 120px;
  background-color: #6FCEF6 ;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.container{
  color: white;
}
/* Form */
.form_container{
  width: 50%;
  margin: 1.5rem auto;
}

.form-control{
  border: none !important;
}
/* weather info */
.location,
.overview{
  text-align: center;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
.weather_info{
  margin: 2rem auto;
}
.weather_icon{
  color: #fff;
}
.condition{
  text-align: center;
}
.condition_icon{
  display: inline-block;
  font-size: 5.5rem;
}
.temp_icon,
.temp_icon-fc,
.humid_icon,
.humid_icon-fc{
  text-align: center;
}
.humid_icon,
.temp_icon{
  font-size: 3rem;
}
.humid_icon-fc,
.temp_icon-fc{
  font-size: 1rem;
  padding: 0px !important;
}
.fc-item-container{
  margin-bottom: 10px;
}
.forecast_desc,
.forecast_date{
  text-align: center;
}
.forecast_img{
  display: block;
  margin: auto;
  margin-top: -1rem;
}
.forecast_item{
  padding: 1.5rem 1rem;
  margin: auto;
  background-color: #b1d4fc;
  border-radius: 20px;
  max-width: 16rem;
}
.bottom-grad{
  position: fixed;
  bottom: 0px;
  z-index: -9;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(147,192,237,1));
}
@media(max-width:770px){
  .form_container{
    width: 90%;
  }
  
}
@media (max-width:640px){
  .fc-item-container{
    background-color: rgba(177, 212, 252, 0.5);
  }
  .forecast_item{
    background-color: transparent;
  }
}